#jumbotron1{

	background-image:url("bgj.jpg");
	padding: 50px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	max-width: 85%;
	border-radius: 10px;
}

h1{

	margin-top: 10px;
	margin-right: 30px;
	text-align: right;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
}

#sticky-footer {
	flex-shrink: none;
}




